@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7e7e9ff;
}
/*  ----------------------------------------------- NAV y HEADER -----------------------------------------------  */

.navegador{
    background-color: #181d33ff;
}

.elementsNav{
    display: flex;
    align-items: center;
}

.elementsNav img{
    width: 50px;
    padding: 1%;
}

.navegador li{
    list-style: none;
    text-align: end;
}

.usuario{
    display: flex;
    justify-content: end;
    align-items: center;
}

/*  ----------------------------------------------- ASIDE -----------------------------------------------  */

.aside{
    padding: 0%;
    background-color: #aa8e31;
    border: solid 1px;
}
aside li{
    padding: 8% 0% 8% 15%;
    list-style: none;
    text-align: left;
    color: white;
    font-size: 1em;
}
aside li:hover{
    background-color: #8b7428
}

/*  ----------------------------------------------- MAIN Y TABLA -----------------------------------------------  */

main h1{
    font-size: 1.5em;
    text-align: center;
}
table, th, td{
    border: solid 1px #e7d381ff;
    padding: 0.7%;
    font-size: 1em;
}

table{
    margin: 1% 0 5% 0;
    width: 100%;
    border-collapse: collapse;
}

th{
    color: white;
    background-color: #aa8e31;
}

tr:hover{
    background-color: #c5c4c4;
    
}

tr:nth-child(even):hover {
    background-color: #c5c4c4;
}

td{
    text-align: center;   
}

tr:nth-child(even) {
    background-color: rgb(212, 197, 147, 0.6);
}
/*  ----------------------------------------------- FOOTER Y MENU NAVEGACIÓ FOOTER -----------------------------------------------  */


footer {
    background-color: #181d33ff;
    width: 100%;
}

footer div nav {
    justify-content: center;
    align-items: center;
    background-color: #181d33ff;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    padding: 15px 0;
}

footer div nav {
    display: flex;
    justify-content: left;
    align-items: center;
}

footer div nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}

footer div nav ul li:first-child {
    padding-left: 30px;
}

footer div nav ul li a {
    text-decoration: none;
    color: #e7d381ff;
    font-weight: bold;
}

.nom-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.nom-logo h3 {
    color: #e7d381ff;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 28px;
    margin: 5px;
}

.nom-logo img {
    width: 30px;
}

footer hr {
    border: 1px solid #e7d381ff;
}

footer div .separator {
    width: 95%;
}

footer div {
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------------- MODAL --------------------------------------------------------------------- */


/* Estilo del menú modal */
.menu-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #e7e7e9ff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-y: auto;
}

.menu-content {
    padding: 20px;
}

/* Estilo del botón de cierre y enlaces */
.close-button {
    float: right;
    font-size: 24px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #555;
}

.menu-links {
    list-style: none;
    padding: 0;
}

.menu-links li {
    margin-bottom: 10px;
}

/* Estilo de la imagen de perfil y detalles del usuario */
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details h3 {
    margin: 0;
    font-size: 18px;
}

.user-details p {
    margin: 0;
    color: #777;
}

.dropdown-content {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
}

.dropdown-content li {
    margin-bottom: 5px;
    list-style: none;
}

.menu-modal #div-sessio {
    margin: 20px;
    position: fixed;
    bottom: 0;
}

.menu-modal #tancar-sessio {
    list-style: none;
    margin-bottom: 10px;
}

.menu-modal a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: 'DM Sans';
}

.menu-modal a:hover {
    color: #555;
}

@media only screen and (max-width: 767px) {
    aside{
        display: none; /* Quita los estilos de lista predeterminados */
        padding: 0; /* Quita el relleno predeterminado de la lista */
    }
}